In [32]:
import pandas as pd
from pyrfume.odorants import from_cids

In [4]:
df1 = pd.read_csv('experiment1_comparisons.csv',
            header=0,index_col=0,names=['A','B','Similarity'])
df1_cids = pd.read_csv('experiment1_cids.csv', index_col=0)
df1_cids = df1_cids.applymap(lambda x:x.replace('[','').replace(']','').strip().replace(' ',','))
df1_cids
df1.loc[:, ['A','B']] = df1.loc[:, ['A','B']].applymap(lambda x:df1_cids.loc[x]['Mixture Cids'])
df1.head()

,A,B,Similarity
1,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","240,93009,323,8148,7762,3314,460,6184,798,6054",39.583333
2,"6501,264,2879,7685,7731,326,7888,61138,8030,1183",7710,34.895833
3,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","31276,93009,11002,323,7966,8148,7632,22201,193...",47.395833
4,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","10890,93009,11002,6982,323,8797,7966,8148,7632...",49.479167
5,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","7710,31276,10890,240,93009,11002,6982,323,8797...",58.854167

In [5]:
df2 = pd.read_csv('experiment2_comparisons.csv',
            header=0,index_col=0,names=['A','B','Similarity'])
df2_cids = pd.read_csv('experiment2_cids.csv', index_col=0)
df2_cids = df2_cids.applymap(lambda x:x.replace('[','').replace(']','').strip().replace(' ',','))
df2_cids
df2.loc[:, ['A','B']] = df2.loc[:, ['A','B']].applymap(lambda x:df2_cids.loc[x]['Mixture Cids'])
df2.head()

,A,B,Similarity
1,"326,26331,6544,1140","7710,62433,7519,7685,3314",42.892077
2,"326,26331,6544,1140","31276,62433,7519,8129,12178,18827,10722",38.292519
3,"326,26331,6544,1140","62433,8797,2758,3314,8635,61138,6054,6544,10722",58.220544
4,"7410,240,93009,8635","7519,8148,31252,8103,5281168,6544",29.732108
5,"7410,240,93009,8635","240,307,7731,2758,12178,62336,8635",62.231981

In [7]:
df3 = pd.read_csv('experiment3_comparisons.csv',
            header=0,index_col=0,names=['A','B','Similarity'])
df3.head()

       A      B  Similarity
1   7410  19310   14.683684
2   7710   7749   30.498500
3  31276   3314   42.093500
4   7519   8129   48.214500
5    240   8103   59.620500

In [12]:
df = pd.concat([df1, df2, df3])
df.to_csv('behavior-main.csv')

In [23]:
cids1 = df1_cids['Mixture Cids'].apply(str.split, args=(',')).sum()
cids2 = df2_cids['Mixture Cids'].apply(str.split, args=(',')).sum()
cids3 = list(df3[['A', 'B']].values.ravel())

In [34]:
cids = cids1 + cids2 + cids3
cids = list(set(map(int, cids)))

In [36]:
molecules_info = from_cids(cids)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

Retrieving 0 through 85

In [42]:
pd.DataFrame(molecules_info).set_index('CID').to_csv('molecules-info.csv')